/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

/* costum */

.toast-container {
    z-index: 1055;
}

.toast {
    margin-top: 1rem;
    animation: slideInRight 0.5s ease-in-out;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.truncate:hover {
    white-space: normal;
    max-width: none;
    overflow: visible;
}

.dt-buttons {
  display: flex !important;
  justify-content: space-between;
  flex-wrap: nowrap !important;
}

div.dt-container div.dt-search input {
    width: 100% !important;
}

@media screen and (max-width: 767px) {
  div.dt-buttons {
    justify-content: center !important;
    gap: 0.5em;
    width: 100%;
    margin-bottom: 0.5em;
  }
   .fc .fc-toolbar.fc-header-toolbar {
        display: block;
        text-align: center;
    }

    .fc-header-toolbar .fc-toolbar-chunk {
        display: block;
    }
}

.fc-button-primary {
    color: #fff !important;
    background-color: #8c57ff !important;
    border-color: #8c57ff !important;
}

.content-wrapper-costume{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1083%26quot%3b)' fill='none'%3e%3cpath d='M33.521%2c88.617C55.423%2c89.871%2c79.155%2c85.18%2c90.853%2c66.621C103.174%2c47.073%2c100.348%2c21.604%2c88.115%2c2.001C76.574%2c-16.493%2c55.309%2c-25.966%2c33.521%2c-25.252C12.967%2c-24.579%2c-5.342%2c-12.657%2c-15.211%2c5.385C-24.69%2c22.715%2c-23.443%2c43.601%2c-13.463%2c60.647C-3.593%2c77.505%2c14.018%2c87.5%2c33.521%2c88.617' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M78.078%2c178.145C113.049%2c177.812%2c144.211%2c156.627%2c160.837%2c125.859C176.675%2c96.55%2c173.972%2c61.174%2c156.673%2c32.702C140.049%2c5.34%2c110.023%2c-8.222%2c78.078%2c-10.35C41.042%2c-12.817%2c-1.441%2c-10.67%2c-21.015%2c20.867C-41.26%2c53.485%2c-27.923%2c94.982%2c-7.459%2c127.463C11.476%2c157.516%2c42.559%2c178.484%2c78.078%2c178.145' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M56.097%2c135.344C83.893%2c135.714%2c107.355%2c117.765%2c122.158%2c94.237C138.186%2c68.763%2c147.982%2c37.746%2c134.4%2c10.888C119.652%2c-18.276%2c88.676%2c-38.987%2c56.097%2c-36.404C26.479%2c-34.055%2c9.765%2c-4.88%2c-3.294%2c21.807C-14.413%2c44.53%2c-18.712%2c70.103%2c-6.987%2c92.518C5.639%2c116.655%2c28.859%2c134.981%2c56.097%2c135.344' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1378.933%2c134.794C1409.04%2c135.679%2c1439.087%2c120.362%2c1452.328%2c93.308C1464.44%2c68.56%2c1450.785%2c41.243%2c1436.141%2c17.904C1422.713%2c-3.497%2c1404.173%2c-22.534%2c1378.933%2c-23.666C1351.835%2c-24.881%2c1325.827%2c-11.048%2c1312.091%2c12.342C1298.186%2c36.02%2c1299.498%2c65.098%2c1312.654%2c89.2C1326.425%2c114.427%2c1350.204%2c133.949%2c1378.933%2c134.794' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1423.551%2c201.435C1466.184%2c204.736%2c1515.188%2c197.829%2c1536.019%2c160.485C1556.554%2c123.672%2c1531.846%2c81.701%2c1510.672%2c45.252C1489.642%2c9.05%2c1465.389%2c-31.57%2c1423.551%2c-33.122C1379.934%2c-34.74%2c1343.407%2c-0.979%2c1324.464%2c38.343C1307.78%2c72.976%2c1317.719%2c112.275%2c1337.68%2c145.129C1356.729%2c176.482%2c1386.974%2c198.603%2c1423.551%2c201.435' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1382.674%2c123.582C1408.837%2c124.103%2c1435.163%2c115.162%2c1449.29%2c93.135C1464.538%2c69.359%2c1467.931%2c38.041%2c1452.851%2c14.158C1438.541%2c-8.505%2c1409.474%2c-12.773%2c1382.674%2c-12.371C1356.777%2c-11.983%2c1329.441%2c-5.961%2c1316.05%2c16.209C1302.29%2c38.991%2c1306.464%2c67.957%2c1320.496%2c90.572C1333.756%2c111.942%2c1357.529%2c123.082%2c1382.674%2c123.582' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M37.593%2c553.192C61.965%2c553.422%2c85.344%2c541.302%2c97.196%2c520.005C108.757%2c499.231%2c104.728%2c474.283%2c93.021%2c453.591C81.104%2c432.527%2c61.787%2c414.072%2c37.593%2c414.653C14.11%2c415.216%2c-2.039%2c435.592%2c-13.412%2c456.145C-24.328%2c475.872%2c-30.582%2c498.94%2c-20.093%2c518.898C-8.939%2c540.121%2c13.618%2c552.966%2c37.593%2c553.192' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M30.051%2c534.441C49.767%2c533.816%2c67.26%2c522.306%2c76.779%2c505.029C85.967%2c488.352%2c84.468%2c468.601%2c75.61%2c451.747C65.997%2c433.456%2c50.673%2c417.42%2c30.051%2c416.118C7.3%2c414.682%2c-15.459%2c425.454%2c-26.697%2c445.287C-37.801%2c464.883%2c-34.201%2c489.164%2c-22.107%2c508.164C-10.903%2c525.766%2c9.196%2c535.102%2c30.051%2c534.441' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M20.306%2c514.103C37.93%2c513.675%2c56.89%2c509.783%2c65.559%2c494.433C74.128%2c479.261%2c67.413%2c461.23%2c58.685%2c446.148C49.978%2c431.102%2c37.661%2c417.241%2c20.306%2c416.235C1.341%2c415.135%2c-16.731%2c424.994%2c-26.642%2c441.201C-37%2c458.139%2c-39.668%2c480.033%2c-28.918%2c496.725C-18.82%2c512.405%2c1.661%2c514.555%2c20.306%2c514.103' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1450.918%2c727.109C1501.794%2c725.333%2c1535.888%2c678.528%2c1557.349%2c632.366C1575.268%2c593.824%2c1569.523%2c551.457%2c1550.177%2c513.611C1528.449%2c471.103%2c1498.603%2c426.424%2c1450.918%2c424.153C1400.476%2c421.751%2c1358.344%2c459.167%2c1333.81%2c503.306C1310.031%2c546.087%2c1308.101%2c596.905%2c1330.793%2c640.272C1355.345%2c687.193%2c1397.994%2c728.956%2c1450.918%2c727.109' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1477.292%2c761.665C1531.383%2c759.041%2c1569.349%2c712.862%2c1593.579%2c664.43C1614.983%2c621.647%2c1613.335%2c573.798%2c1592.929%2c530.529C1568.325%2c478.357%2c1534.808%2c422.242%2c1477.292%2c417.85C1414.276%2c413.038%2c1356.063%2c454.369%2c1326.399%2c510.174C1298.378%2c562.888%2c1308.959%2c625.554%2c1339.673%2c676.746C1369.397%2c726.286%2c1419.587%2c764.464%2c1477.292%2c761.665' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1457.863%2c713.569C1505.058%2c713.381%2c1543.01%2c681.432%2c1568.868%2c641.952C1598.239%2c597.108%2c1626.416%2c542.429%2c1600.795%2c495.342C1574.494%2c447.006%2c1512.714%2c433.534%2c1457.863%2c437.946C1410.516%2c441.754%2c1372.755%2c473.89%2c1349.887%2c515.523C1327.975%2c555.416%2c1323.533%2c602.878%2c1345.32%2c642.84C1368.052%2c684.535%2c1410.374%2c713.758%2c1457.863%2c713.569' fill='rgba(140%2c 87%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1083'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

/* end costum */


.menu .app-brand.demo {
  height: 64px;
}

.dark-style .menu .app-brand.demo {
  height: 64px;
}

.app-brand-logo.demo svg {
  width: 30px;
  height: 24px;
}

.app-brand-text.demo {
  font-size: 1.25rem;
}

.authentication-wrapper .app-brand-text.demo {
  font-size: 1.5rem;
  text-transform: capitalize;
}
/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1.25rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 300px;
    position: relative;
  }
  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}
/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1.25rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1.25rem;
}
